<p>signed in as:</p>
<h2> {{user}}</h2>

<p>Your uploded art:</p>

{{#if artworks}}
  <hr />
  <h2>Art</h2>
  {{#each artworks}}
    <p>{{artworks.name}}</p>
    <a href="/artworks/{{_id}}"> {{artworks.imgUrl}}</a>
    <p>{{artworks.description}}</p>
  {{/each}}
{{/if}}