<section id="singleSection">
  <a href="/users/{{artwork.user._id}}">{{artwork.user.username}}</a>
  <img src="{{artwork.imgUrl}}" alt="{{artwork.name}}" />
  <div id="artDetails">
    <h4>{{artwork.name}}</h4>
    <p>{{artwork.description}}</p>
  </div>
  {{#if myPosts}}
    <div id="posterLinks">
      <a href="/artworks/{{artwork._id}}/edit">Edit</a>
      <form id="deleteForm" action="/delete/{{artwork._id}}" method="post">
        <button type="submit">Delete</button>
        <input type="hidden" name="artId" value="{{artwork._id}}" />
      </form>
    </div>
  {{/if}}
</section>