<h2>Artwork: {{artwork.name}}</h2>

<img src="{{artwork.imgUrl}}" alt="{{artwork.name}}" />

<p>{{artwork.description}}</p>
<p>Posted by: {{artwork.user.username}}</p>

{{#if myPosts}}
  <p><a href="/update/{{artwork._id}}">Edit Art</a></p>
  <p><a href="/delete/{{artwork._id}}">Delete Art</a></p>
{{/if}}

<!---sa redigera-->
<!-- Vid inloggad valmöjlighet att lägga till i collection -->