<h2>Artwork: {{name}}</h2>

<img src="{{imgUrl}}" alt="{{name}}" />

<p>{{description}}</p>

<p><a href="/update/{{_id}}">Redigera</a></p>
<!--- inloggad visa redigera-->
<!-- Vid inloggad valmöjlighet att lägga till i collection -->