<h2 class="deleteTitle">Confirm Delete</h2>

   <h4>{{name}}</h4>

<img src="{{imgUrl}}" alt="{{name}}" />

<p>{{description}}</p>

  <section class="task-section-buttons">
    <form action="/delete/{{_id}}" method="post">
      <input class="input-home-button" type="submit" value="Delete" />
    </form>