<h2>Artwork: {{name}}</h2>

<img src="{{imgUrl}}" alt="{{name}}" />

<p>{{description}}</p>
<p>Posted by: {{user.username}}</p>

<p><a href="/update/{{_id}}">Edit Art</a></p>
<p><a href="/delete/{{_id}}">Delete Art</a></p>

<!-- Vid inloggad valmöjlighet att lägga till i collection -->