<section id="feedSection">
  {{#each artworks}}
    <a href="/artworks/{{_id}}">
      <img src="{{imgUrl}}" alt="{{name}}" />
      {{#if ../loggedInUser}}
        <form action="/admin/save" method="post">
          <button type="submit">
            {{#if isSaved}}
              <i id="heartIcon" class="bi bi-suit-heart-fill"></i>
              {{else}}
              <i id="heartIcon" class="bi bi-suit-heart"></i>
            {{/if}}
          </button>
          <input type="hidden" name="artId" value="{{_id}}" />
        </form>
      {{/if}}
    </a>
  {{/each}}
</section>