<section id="singleSection">
  <a href="#">{{artwork.user.username}}</a>
  <img src="{{artwork.imgUrl}}" alt="{{artwork.name}}" />
  <div id="artDetails">
    <h4>{{artwork.name}}</h4>
    <p>{{artwork.description}}</p>
  </div>
  {{#if myPosts}}
    <div id="posterLinks">
      <a href="/artworks/{{artwork._id}}/edit">Edit</a>
      <a href="/delete/{{artwork._id}}">Delete</a>
    </div>
  {{/if}}
</section>