<section id="singleSection">
  <a id="posterLink" href="#">{{user.username}}</a>
  <img src="{{imgUrl}}" alt="{{name}}" />
  <div id="artDetails">
    <h4>{{name}}</h4>
    <p>{{description}}</p>
  </div>
  <p><a href="/update/{{_id}}">Edit Art</a></p>
  <p><a href="/delete/{{_id}}">Delete Art</a></p>
  <!----->
  <!-- Vid inloggad valmöjlighet att lägga till i collection -->
</section>